<!-- Button trigger modal -->
<button type="button" id="share" class="btn btn-primary animate__animated animate__bounce" data-bs-toggle="modal" data-bs-target="#formInput">
  Share Quote
</button>
<!-- Modal -->
<div class="modal" id="formInput" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formInputLabel">Share QuoteFlow</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #quoteForm = 'ngForm' (ngSubmit)='submitQuote()'>
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input matInput placeholder="Your Name" id="name" [(ngModel)]="newQuote.category" name="category" #name='ngModel'>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>name</mat-label>
            <input matInput placeholder="Your Name" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel'>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>author</mat-label>
            <input matInput placeholder="Quote Author" id="author" [(ngModel)]="newQuote.author" name="author" #name='ngModel'>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>quote</mat-label>
            <textarea matInput placeholder="enter quote here" id="quote" [(ngModel)]="newQuote.q" name="quote" #name='ngModel'></textarea>
          </mat-form-field>
          <hr>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit"  class="btn btn-primary" data-bs-dismiss="modal">Share</button>
        </form>
      </div>
    </div>
  </div>
</div>