<h1 mat-dialog-title>Add QuoteFlow</h1>
<div mat-dialog-content>
    <mat-form-field appearance="legacy">
        <mat-label>Your Name</mat-label>
        <input matInput placeholder="Your Name">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Authour</mat-label>
        <input matInput placeholder="Quote Authour">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Quote</mat-label>
        <textarea matInput placeholder="enter quote here"></textarea>
    </mat-form-field>
</div>