<!-- {{quote.q}} -->
<!-- <button (click)= 'quoteDelete(true)'>Complete</button> -->
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="quotes">
            <div class="card" style="width: 25rem;">
                <div class="card-header">
                    Posted by: {{quote.name}}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        {{quote.q}}
                        <footer class="blockquote-footer">{{quote.author}} </footer>
                    </blockquote>
                </div>
                <div class="card-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-danger">Delete</button>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <button class="btn" id="l">like</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn" id="d">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>


</div>