#quotes {
    display: flex;
    width: 100%;
    flex-direction: row;
 
}
#l {
    margin-left: -30px;
    background-color: aquamarine;

}
#d {
    margin-left: 10px;
    background-color: #444;
}
#like {
    cursor: default;
    color: #4093a4;
}
#dislike {
    cursor: default;
    color: #444;
}
#dura {
    float: right;
}
.response {
    float: right;
    text-decoration: none;
}